<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Detail page for
        <%= info[0].name %>
    </h1>
    <img src='./img/<%= info[0].name%>.jpg'>
    <p> Favorate food:
        <%= info[0].food %>
    </p>
    <hr>
    <p>Age:
        <%= info[0].age %>
    </p>
    <hr>
    <p>Sleeping Spots:</p>
    <% for( x in info[0].spot ) { %>
        <div>
            <%= info[0].spot[x] %>
        </div>
        <% } %>





</body>

</html>